<style>

.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 1100px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-color: #f9f8f7;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
/*   padding: 20px; */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*   max-height: calc(100vh - 70px); */
/* 	overflow-y: auto; */
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
    position: absolute;
    right: 8px;
    top: -12px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #0e0e0e;
}

@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
/* @media screen and (max-width:799px){
  .custom-model-inner{margin-top: 45px;}
} */
/* same popup  */
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}
.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   }
.clslg1{
-webkit-box-flex: 0;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;}
.clslg7{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.clspl-0{
    padding-left: 0!important;

}
.align-items-center{    
  align-items: center!important;}

.product-total-item{
	display: block;
    width: 100%;
    background-color: #fff;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    text-align: left;
    border: 1px solid #f1f1f1;
    border-radius: 2rem;}

.total-item{
	font-weight: 400;
    padding-right: 0.5rem;
    display: inline-block;}
.total-price{
    display: inline-block;

}
.clslg1.clsmd1 {
    padding-right: 15px;
    padding-left: 15px;
}
.btn{
      cursor: pointer;
display: inline-block;
    font-weight: 400;
    text-align: center;
    box-shadow: none!important;
    outline: none!important;
    white-space: nowrap;
    padding: 0.625rem 1.85rem;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 5px;}
.btn-secondary {
    background-color: #253960;
    border-color: #253960;
    color: #fff;
}
.btn-primary {
    background-color: #c6294c;
    border-color: #c6294c;
    color: #fff;
}
.clslg4{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;}
.row.before-you-continue-label{
    background-color: #253960;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.clslg12{
	flex: 0 0 100%;
    max-width: 100%;}

.row.before-you-continue-label h6 {
    margin-bottom: 0;
    padding: 0.6rem;
    text-align: center;
    font-weight: 500;
    color: #fff;
}
.d-block {
    display: block!important;
}
.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.clslg3{
    flex: 0 0 25%;
}
.clstablist{

    text-align: center;
    border-right: 1px solid #f1f1f1;
    color: #fff;
    padding: 0.5rem 1rem;
    display: block;
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
cursor:pointer;
}
.clstablist.active{
background-color: #c6294c;} 
.tablist2,.tablist4,.tablist1,.tablist3{
background-color: #253960;}
.modal-title{
    font-size: 1.25rem;
}
.clsdisplyfl-product{
    display: flex;
    flex-wrap: wrap;}
.btn-green {
    background-color: #7ed321;
    border-color: #7ed321;
    color: #fff;
}
  .clslsidermob{
  display: none;
  }
/* .clsbgcontainer,.block_collection {
    padding-right: 15px;
    padding-left: 15px;} */
.block_collection_image{
margin-top: 0.8rem;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    clear: both;}
.block_collection {
background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 0.5rem 0.5rem 0;
    margin-bottom: 0.5rem;
    min-height: 158px;}
.display-flex{
    display: flex;
}
.clsbottombtn{
    border-top: 4px double #f1f1f1;
    padding: 0.325rem 0;
    margin-top: 12px;
    justify-content: center;}
.need-product-status {
    font-size: .875rem;
    display: inline-block;
    padding: 0.1875rem 0.625rem;
    margin: 0;
}
.text-danger {
    color: #dc3545!important;
}
.also-product-reference span{
    font-size: .9rem;
    font-weight: 600;
    pointer-events: auto;
}
.also-product-name {
    display: block;
    width: 100%;
    height: 3.3rem;
    max-height: 3.3rem;
    overflow: hidden;
    font-size: .875rem;
    line-height: 1.1rem;
    color: #253960;
}
.need-product-status strong{
      font-weight: bolder;

}
.custom-checkbox{
    height: auto;
}
.custom-checkbox label{
font-weight: 500;
    height: auto;
    font-size: .92rem;
    background-color: #7ed321;
    color: #fff;
    padding: 0.3rem 0.75rem;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;}
.row.modal-addto-basket-footer{
    justify-content: center;}
.clsdisplyfl-product{
display:none;}
.clsdisplyfl-product.active{
display:block;}
.classblockdisflex{
display:flex;}
@media only screen and (max-width: 1017px) {
.btn,.clstablist,.row.before-you-continue-label h6{
    font-size: 12px;
}

.row .clsmd5{
      flex: 0 0 41.666667%;
    max-width: 41.666667%;}
 
.row .clsmd6{
      flex: 0 0 50%;
  max-width: 50%;}
.row .clssm6{
    flex: 0 0 50%;
  max-width: 50%;
}
  .clstablist{    
    margin-bottom: 10px;
}
  
}
@media only screen and (max-width: 767px) {
 .row .clssm12{
      flex: 0 0 100%;
    max-width: 100%;
  }
  .clslsidermob{
  display: block;
     margin:0 auto;
  }
  .listalltab{
      display: none;
}
  .img-fluid{
      display: none;
}
  .modal-addto-basket-product-info{
      display: none;
}
  .clslg4.clsmd6.item-basket{
    flex: 0 0 100%;
    max-width: 100%;
  }
.btn, .clstablist, .row.before-you-continue-label h6 {
    font-size: 14px;
}
  .slick-current.slick-active{
        padding: 10px 0;
      background-color: #c6294c;
    border-color: #c6294c;
    color: #fff;}

.slider  .slick-next{
    right: 0;
}
.slider  .slick-prev{
 left:0;
  z-index:9999;
}
.row .slick-track{
    text-align: center;
}
  }
</style>
<div class="custom-model-main model-open">
    <div class="custom-model-inner">
        <div class="close-btn">×</div>
        <div class="custom-model-wrap">
            <div class="pop-up-content-wrap">
               Content Here
            </div>
        </div>
    </div>
    <div class="bg-overlay"></div>
</div>

