<div class="qtydiv"> 
  <div class="qtybox"> 
    <span class="btnqty qtyminus icon icon-minus">-</span> 
<!--     <input type="number" id="Quantity-product-template" name="quantity" value="1" min="1" pattern="[0-9]*" class="product-form__input product-form__input--quantity" data-quantity-input="" data-gtm-form-interact-field-id="0"> -->
    <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector quantity-input x" >
    <span class="btnqty qtyplus icon icon-plus">+</span> </div> </div> 
<style> 
  .qtybox{    
    border-radius: 50px;
    border-color: #f48f89;
    border: 2px solid #F48F89;
    color: #006781;
    font-weight: 700;
    width: 100%;
    background: #fff;
    padding: 4.2px;
    text-align: center;
  }
  .qtydiv .qtyminus input, textarea {
    padding: 0px 0px !important;
}
/*   .qtydiv{
    width:49%;
  } */
  .qtydiv{
      flex-basis: 50%;
/*     padding: 0 5px; */
  }
/*   #quantity{
      width: 64%;
  } */
  .qtydiv .quantity-input {
    border: none;
    border: none;
    text-align: center;
    outline: none;
    display: inline-block;
  }
  .qtydiv .btnqty {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    font-size: 25px;
    line-height: 5px;
  }
  .qtydiv label{ display: block; margin-bottom: 12px; letter-spacing: 2.8px; color: #747a7b;} 
/*   .qtydiv .btnqty.qtyminus{ 
    margin-right: 54px;
    margin-left: 11px;
  }  */
/*   .qtydiv .btnqty.qtyplus{
    margin-left: 8px; 
  }  */
  .qtydiv { 
    display: inline-block;
  } 
  @media only screen and (max-width: 1024px){
/*     .qty_var .qtydiv .btnqty.qtyminus {
      margin-right: -1px;
      margin-left: 4px;
    } */
/*   .qtydiv .btnqty.qtyplus{
  margin-left: 1px; 
  } */
  }
  @media only screen and (max-width: 768px){
    .qty_var .qtydiv{
      flex-basis: 100% !important;
    }
/*     #quantity {
      width: 78%;
    } */
  }
</style> 
<script src="https://code.jquery.com/jquery-3.4.1.js"></script> 
<script> 
  $('.qtybox .btnqty').on('click', function()
                          {
    console.log("fvdsvfdc");

    var qty = parseInt($(this).parent('.qtybox').find('.quantity-input').val()); 
    console.log(qty);

    if($(this).hasClass('qtyplus'))
    { qty++; }

    else { if(qty > 1) 
    { qty--; } 
         } 
    qty = (isNaN(qty))?1:qty; $(this).parent('.qtybox').find('.quantity-input').val(qty); }); 
</script>