<div class="bestcontainer">
  <div class="bestdesigner">
    <div class="bundletitle">
      <h3 class="bundmeta">{{ section.settings.kometitle }}</h3>
    </div>
  </div>
</div>
  
{% schema %}
  {
  "name": "bestseller",

  "settings": [
  {
    "id" : "kometitle",
    "type" : "text",
    "label" : "Heading"
  },
  {
    "id" : "SAMPLEfe",
    "type" : "text",
    "label" : "BUTTON Sample"
  }
  ],
  "blocks":[
  {
  "type" : "block",
  "name" : "block",
  "settings" : [
      {
   "id": "kom_clape2",
   "type": "image_picker",
    "label": "Banner Image"
   }
  ]
  }

  ],
  "presets" : [
  {
    "name" : "bestseller",
    "category" : "bestseller"

    }
  ]
  }
  {% endschema %}