{% comment %} <link rel="canonical" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% endcomment %}

<div class="main-brand-sections" id="{{ section.id }}">
  <div class="Brand-sections">
    {% if section.settings.heading != blank %}
    <header class="head">
      <h2 class="heading">{{ section.settings.heading }}</h2>
    </header>
    {% endif %}
    <div class="flexes-block brand-sliders">
      {% for block in section.blocks %}
        <div class="logos-brand">
          <img src="{{ block.settings.image | img_url: 'master' }}">
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Brand Logo Section",
    "settings": [
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "background",
        "type" : "color",
        "label" : "Background Color",
        "default" : "#006781"
      }
    ],
    "blocks" : [
      {
        "name" : "block",
        "type" : "block",
        "settings" : [
          {
            "id" : "image",
            "type" : "image_picker",
            "label" : "Image"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Brand Logo Section"
      }
    ]
  }
{% endschema %}

<style>

  .main-brand-sections{
    background-color: {{section.settings.background}};
  }
  .Brand-sections{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 25px 10px 50px;
  }
  .logos-brand {
    padding: 0 15px;
}
  .logos-brand img {
    max-width: 181px;
    margin: auto;
    width: 100%;
}
  .Brand-sections .head h2.heading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #006781;
    margin-bottom: 35px;
    letter-spacing: normal;
}
  @media(max-width:768px){
    .Brand-sections .head h2.heading {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 30px;
}
  }
</style>

<!-- <script>

  $('.brand-sliders').slick({
    dots: false,
    infinite: true,
    arrows: false,
    slidesToShow: 5,
    autoplay: true,
    autoplaySpeed: 6000,
    slidesToScroll: 1,    
    prevArrow:"<button type='button' class='drag dogarrow1 slick-prev pull-left'><i class='fa fa-long-arrow-left' aria-hidden='true'></i></button>",
    nextArrow:"<button type='button' class='drag dogarrow2  slick-next pull-right'><i class='fa fa-long-arrow-right' aria-hidden='true'></i></button>",
 responsive: [
    {
      breakpoint: 768,
      settings: {
        centerMode: true,
        slidesToShow: 2,
        slidesToScroll: 1,
      }
    },
    {
      breakpoint: 500,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: false,
        dots: true
      }
    }
    ]
    });
</script> -->