<div class="Grid-sections" id="{{ section.id }}">
  <div class="Grid-logo-sections">
    <header class="head">
      <h2 class="heading">{{ section.settings.heading }}</h2>
    </header>
    <div class="logos-flexs">
      {% for block in section.blocks %}
        <div class="Main-logo">
          <img src="{{ block.settings.image | img_url:'master' }}">
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Grid Logo Section ",
    "settings": [
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "background",
        "type" : "color",
        "label" : "Background Color"
      }
    ],
    "blocks" : [
      {
        "name" : "block",
        "type" : "block",
        "settings" : [
          {
            "id" : "image",
            "type" : "image_picker",
            "label" : "Image"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Grid Logo Section"
      }
    ]
  }
{% endschema %}

<style>

  .Grid-sections{
    background-color: {{section.settings.background}};
  }
  .Grid-logo-sections{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 5%;
  }
  .logos-flexs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .Main-logo{
    width: 25%;
  }
  .head h2.heading {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #006781;
    margin: 0;
    letter-spacing: normal;
}
</style>