<div class="Grid-sections" id="{{ section.id }}">
  <div class="Grid-logo-sections">
    <header class="head">
      <h2 class="heading">{{ section.settings.heading }}</h2>
    </header>
    <div class="logos-flexs">
      {% for block in section.blocks %}
        <div class="Main-logo">
          <img src="{{ block.settings.image | img_url:'master' }}">
        </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Grid Logo Section ",
    "settings": [
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      }
    ],
    "blocks" : [
      {
        "name" : "block",
        "type" : "block",
        "settings" : [
          {
            "id" : "image",
            "type" : "image_picker",
            "label" : "Image"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Grid Logo Section"
      }
    ]
  }
{% endschema %}

<style>

  .Grid-logo-sections{
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
  .logos-flexs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  .Main-logo{
    width: 33.33%;
  }
</style>