<div class="icon-with-text">
  <div class="icons-txts">
    <header class="head">
      <h2 class="heading">{{ section.settings.heading }}</h2>
    </header>
    <div class="Flex-sections">
      {% for block in section.blocks %}
        <div class="icon-with">
          <img src="{{ block.settings.image | img_url:'master' }}">
          <h2 class="title">{{ block.settings.title }}</h2>
        </div>
        {% endfor %}
    </div>
  </div>
  
</div>

{% schema %}
  {
    "name": "Icon With Text",
    "settings": [
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      }
    ],
    "blocks" : [
      {
        "name" : "block",
        "type" : "block",
        "settings" : [
          {
        "id" : "image",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "title",
        "type" : "text",
        "label" : "Heading"
      }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Icon With Text"
      }
    ]
  }
{% endschema %}

<style>

  .icons-txts{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 5%;
  }
  .Flex-sections{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .icon-with{
    width: 25%;
  }

  @media(max-width:768px){
    .icon-with{
    width: 50%;
  }
  }
</style>