<div class="image-with-text-live" id="{{ section.id }}">
  <div class="live-image">
    <div class="flex-images">
      <div class="images-clas">
        {% if section.settings.image != blank  %}
        <img class="desktop" src="{{ section.settings.image | img_url:'master' }}">
        {% endif %}
        {% if section.settings.image != blank  %}
        <img class="mobile" src="{{ section.settings.image | img_url:'master' }}">
        {% else %}
          <img class="mobile" src="{{ section.settings.image | img_url:'master' }}">
        {% endif %}
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Image With Text Live",
    "settings": [
      {
        "id" : "image",
        "type" : "image_picker",
        "label" : "Image"
      },
      {
        "id" : "mobile-image",
        "type" : "image_picker",
        "label" : "Mobile image"
      },
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "text",
        "type" : "textarea",
        "label" : "Text"
      },
      {
        "id" : "button1",
        "type" : "text",
        "label" : "First Button"
      },
      {
        "id" : "btn1_link",
        "type" : "url",
        "label" : "First Button Link"
      },
      {
        "id" : "button2",
        "type" : "text",
        "label" : "Second Button"
      },
      {
        "id" : "btn2_link",
        "type" : "url",
        "label" : "Second Button Link"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}