<div class="clspopup">
    <div class="clscustom-model-main">
      <div class="clscustom-model-inner">        
        <div class="clsclose-btn">×</div>
        <div class="clscustom-model-wrap">
          <div class="clspop-up-content-wrap">
            <div class="clspop-flex">
              <div class="clsimg-popup clscombo-pop">
                <img src="" class="imgecls">
              </div>
              <div class="clspopup-cont clscombo-pop">
                <h2 class="clsheading-pop"></h2>
                <p class="clstext-pop"></p>
              </div>
            </div>
          </div>
        </div>  
      </div>  
      <div class="clsbg-overlay"></div>
    </div>
  </div>