<div class="Product-slider-section" id="{{ section.id }}">
  <div class="Slider-Product">
    <header class="head">
      <h2 class="heading">{{ section.settings.heading }}</h2>
    </header>
    <div class="Product-slide">
      {% for block in section.blocks %}
         {%- assign product = all_products[block.settings.product] -%}
        <div class="Main-product">
          {{ product.title }}
        </div>
        {% endfor %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product Slider Section",
    "settings": [
      {
        "id" : "heading",
        "type" : "text",
        "label" : "Heading"
      },
      {
        "id" : "button_name",
        "type" : "text",
        "label" : "Button"
      },
      {
        "id" : "button_link",
        "type" : "url",
        "label" : "Button Link"
      },
      {
        "id" : "background",
        "type" : "color",
        "label" : "Background Color"
      }
    ],
    "blocks" : [
      {
        "name" : "block",
        "type" : "block",
        "settings" : [
          {
            "id" : "product",
            "type" : "product",
            "label" : "Product"
          }
        ]
      }
    ],
    "presets" : [
      {
        "name" : "Product Slider Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}