<div class="subscribetab">
  <div class="subscribeci=ontain">
    <div class="subscribedaa">
      <div class="sudalldata">
        {% for block in section.blocks %}
            {%- assign collection = collections[block.settings.collection] -%}
      <div class="subscribe_flex">
          {%- for product in collection.products %}
          <div class="subscribleflex1">
              <div class="subscribecontain">
                <
              </div>
            
          </div>
                  {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  
{% schema %}
  {
  "name": "SubscribeProduct",

  "settings": [
  {
    "id" : "textbox",
    "type" : "text",
    "label" : "Heading"
  },
  {
    "id" : "SAMPLEfe",
    "type" : "text",
    "label" : "BUTTON Sample"
  }
  ],
  "blocks":[
  {
  "type" : "block",
  "name" : "block",
  "settings" : [
      {
   "id": "collection",
   "type": "collection",
    "label": "collection"
   }
  ]
  }

  ],
  "presets" : [
  {
    "name" : "SubscribeProduct",
    "category" : "SubscribeProduct"

    }
  ]
  }
  {% endschema %}