<div class="subscribetab">
  <div class="subscribeciontain">dvfgf
    <div class="subscribedaa">
      <div class="sudalldata">
        {% for block in section.blocks %}      
      <div class="subscribe_flex">
        {% assign product = all_products[block.settings.product] %}
               {%- for product in collection.products %}
          <div class="subscribleflex1">
              <div class="subscribecontain">
                    <div class="hav_pro">
                      <h3 class="prodtutitle">{{ product.title }}</h3>
                 		<a href="{{ product.url}}"class="cool_img"> <img src="{{product.image[0]  | img_url: 'master' }}" class="avenue_img"></a>     
                  </div>
              </div>
            
          </div>
                  {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  <style>
      .subscribleflex1 {
    flex: 0 0 24%;
    max-width: 24%;
}
  .subscribe_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
  </style>
{% schema %}
  {
  "name": "SubscribeProduct",

  "settings": [
  {
    "id" : "textbox",
    "type" : "text",
    "label" : "Heading"
  },
  {
    "id" : "SAMPLEfe",
    "type" : "text",
    "label" : "BUTTON Sample"
  }
  ],
  "blocks":[
  {
  "type" : "block",
  "name" : "block",
  "settings" : [
  {
               "type": "product",
               "id": "product",
               "label": "Product"
            }
  ]
  }

  ],
  "presets" : [
  {
    "name" : "SubscribeProduct",
    "category" : "SubscribeProduct"

    }
  ]
  }
  {% endschema %}