<div class="margin-clss">
  <div class="line-dot-section">
    <div class="fix-sector">
      <div class="main-personal-texts">
        <div class="personal-texts">
          <div class="only-texts fade-up animated fadeInUp cls-asap">
            <h2> {{ section.settings.heading }} </h2>
            <p class="natuepera"> {{ section.settings.text }} </p>
          </div>
          <div class="basic_structure2">
            <div class="we_basic_box_image">
              <div class="nutri-wipe" data-scroll="in" data-aos="flip-left">
                <div class="cls only-image">
                  <span class="video-sem">{{ section.settings.text-video }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Image With Video",
"settings": [
{
"id" : "heading",
"type" : "text",
"label" : "Heading"
},
{
"id" : "text",
"type" : "text",
"label" : "Text"
},
{
"id" : "text-video",
"type" : "textarea",
"label" : "Text"
}

],
"presets" : [
{
"name" : "Image With Video"
}
]
}
{% endschema %}



<style>
  .video-sem video{
    width: 100%;
  }
  .margin-clss {
    /*     max-width: 1290px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 0 10%;
    position: relative;
    z-index: 2;
  }

  .line-dot-section {
    border: 2px dashed #84DADE;
    border-radius: 6px;
    margin: -5%;
  }

  .fix-sector {
    margin: 5%;
  }

  .basic_structure2:nth-child(2) {
    order: 2;
  }

  .only-texts ul li:before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background: #006781;
    margin: 0 1em 0 0.25em;
  }

  .margin-clss {
    padding: 5%;
  }

  .main-personal-texts {
    width: 100%;
    margin: auto;
  }

  .personal-texts {
    display: flex;
    width: 100%;
  }

  .only-texts {
    width: 48%;
    margin: auto;
    padding-right: 1%;
  }

  .only-texts h2 {
    font-family: 'Hunterswood';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #006781;
    letter-spacing: 2px;
  }

  .natuepera {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #333333;
  }

  .basic_structure2 {
    width: 49%;
  }

  .only-texts.fade-up.animated.fadeInUp.cls-asap:nth-child(1) {
    order: 2;
  }

  .personal-texts ul {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #333333;
  }
  @media(max-width:1280px) {
    .shopify-section .haveheard_containr {
      margin-top: -21%;
    }
  }
  @media(max-width:1100px) {
    .main-personal-texts .personal-texts{
      display: block;
      width: 100%;
    }
    .only-texts{
      width: 100%;
    }
    .basic_structure2 {
      width: 100%;
      margin-top: 6%;
    }
  }
  @media(max-width:600px) {
    .margin-cls {
      height: unset;
    }

    h2.bannetitle {
      font-size: 30px !important;
    }

    p.bannerparegraph {
      font-size: 16px;
    }

    .personal-texts {
      display: block;
    }

    .only-texts {
      width: 100%;
      padding: 0;
    }

    .only-image {
      width: 100%;
    }

    .only-texts h2 {
      font-size: 30px;
      text-align: center;
    }

    .basic_structure2 {
      width: 100%;
    }
  }